.popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;

    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.popup.is-visible {
    opacity: 1;
    visibility: visible;

    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.popup__container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    z-index: 10;

    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    border-radius: 32px;
    background-color:  rgba(255, 255, 255, 0.99);
    width: 40%;
    max-width: 597px;

    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);

    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.popup__container-inside {
    width: 90%;
    max-width: 390px;
    margin: auto;
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
}

.popup__title {
    line-height: 32px;
}
.popup__title.error {
    color: #e74c3c;
}
.popup__title.success {
    color: #2ecc71;
}